<div class="col-md-4">
    <div class="panel notification-tile">
        <div class="panel-heading">
            Notification name
        </div>
        <div class="panel-body">
            <p>
                text
            </p>
            <p>
                icon?
            </p>
            <p>
                time
            </p>
            <p><a class="btn btn-default">Things</a></p>
        </div>
    </div>
</div>