@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="main-heading">Healthy reminders</h1>
    <h3 id="quote-heading" class="lead"></h3>
</div>

<div class="row">

    @Html.Partial("NotificationTile")
    @Html.Partial("NotificationTile")
    @Html.Partial("NotificationTile")

    <div class="col-md-12">
        <input id="force" type="button" class="btn btn-success" value="Force" />
        <input id="quote" type="button" class="btn btn-primary" value="Quote" />
        <input id="kill" type="button" class="btn btn-danger" value="Kill" />
    </div>
</div>
<script type="text/javascript">

    //https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API#Closing_notifications

    //TODO: 
    //customize notification content and timer
    //add icons
    //kill notifications
    //optimize background image

    var quotes = [
        "Health is not valued till sickness comes.",
        "Dwell on the beauty of life. Watch the stars, and see yourself running with them.",
        "The happiness of your life depends upon the quality of your thoughts.",
        "If you are distressed by anything external, the pain is not due to the thing itself, but to your estimate of it; and this you have the power to revoke at any moment.",
        "Jerry is awesome"
    ];

    var notifications = [
        {
            text: "Drink some water",
            icon: "",
            time: 150000
        },
        {
            text: "Check your posture",
            icon: "",
            time: 100000
        }
        //eye stuff
        //streches
    ];

    Notification.requestPermission()

    function quoteThing() {
        var max = quotes.length;
        var min = 0;

        var random = Math.floor(Math.random() * (max - min)) + min;
        $("#quote-heading").html(quotes[random]);
    }

    //randomize
    $(function () {

        quoteThing();
        setTimeout(function () {
            quoteThing()
        }, 1000000)

        setInterval(function () {
            $.each(notifications, function (i, e) {
                var water = new Notification(e.text);
            })
        }, 100000)

        $("#force").on("click", function (e) {
            var force = new Notification("Check your posture");
        })

        $("#quote").on("click", function (e) {
            quoteThing();
        })

        $("#kill").on("click", function (e) {
            //kill all notifications
        })
    })

</script>